.title {
  text-align: center;
  margin-bottom: 24px;
}
.title h1 {
  margin-bottom: 10px;
}

.spotlight {
  margin-bottom: 48px;
}
.spotlight h2 {
  margin-bottom: 12px;
}

.market-report {
  margin-bottom: 36px;
}
.market-report .title {
  margin-bottom: 12px;
}
.market-report .title h2 {
  margin-bottom: 10px;
}
.market-report .carousel {
  position: relative;
  max-height: 466px;
  overflow: hidden;
  border-radius: 5px;
}
.market-report .carousel .slider-nav .slick-slide div {
  height: 100%;
}
.market-report .carousel .slider-for {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 404px;
  height: 100%;
}
.market-report .carousel .slider-for .slick-track,
.market-report .carousel .slider-for .slick-list,
.market-report .carousel .slider-for .slick-slide,
.market-report .carousel .slider-for .slick-slide > div {
  height: 100%;
}
.market-report .carousel .slider-for .item {
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 36px 24px;
  color: #fff;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.market-report .carousel .slider-for .item .content .card-title {
  margin-bottom: 12px;
}
.market-report .carousel .slider-for .item .content p {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}
.market-report .carousel .slider-for .item .download {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.market-report .carousel .slider-for .item .download:hover a {
  color: #ea6f18;
  transition: all 0.3s;
}
.market-report .carousel .slider-for .item .download:hover a:first-child {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  border: 1px solid #ea6f18;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.market-report .carousel .slider-for .item .download:hover a:first-child img,
.market-report .carousel .slider-for .item .download:hover a:first-child svg {
  width: 9.6px;
  transition: all 0.3s;
}
.market-report .carousel .slider-for .item .download:hover a:first-child svg path {
  fill: #ea6f18;
}
.market-report .carousel .slider-for .item .download a:first-child {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.market-report .carousel .slider-for .item .download a:first-child img,
.market-report .carousel .slider-for .item .download a:first-child svg {
  width: 9.6px;
  transition: all 0.3s;
}
.market-report .carousel .slider-for .item .download a:first-child svg {
  transform: rotate(-90deg);
}
.market-report .carousel .slider-for .item .download a:first-child svg path {
  transition: all 0.3s;
}
.market-report .carousel .slider-for .item .download a:last-child {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.market-report .carousel .button-slider {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  display: flex;
  max-width: 404px;
  justify-content: end;
  gap: 10px;
  padding-right: 24px;
}
.market-report .carousel .button-slider .slick-arrow {
  z-index: 100;
  border: 1px solid #fff;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: unset;
  -webkit-transform: unset;
  transition: all 0.3s;
}
.market-report .carousel .button-slider .slick-arrow::after, .market-report .carousel .button-slider .slick-arrow::before {
  display: none;
}
.market-report .carousel .button-slider .slick-arrow:hover {
  border: 1px solid #ea6f18 !important;
  background-color: #ea6f18;
}
.market-report .carousel .button-slider .slick-arrow.slick-disabled {
  opacity: 0.5;
  border: 1px solid #fff !important;
  background-color: transparent !important;
}

@media only screen and (max-width: 1279.98px) {
  .spotlight .list-news {
    grid-template-columns: repeat(2, 1fr);
  }
  .market-report .carousel .slider-for {
    max-width: 100%;
  }
  .market-report .carousel .button-slider {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767.98px) {
  .spotlight .list-news {
    grid-template-columns: repeat(1, 1fr);
  }
  .spotlight .list-news .main-news {
    grid-column: unset;
    grid-row: unset;
  }
}