.section-table-crop {
  transition: all 0.3s ease-in-out;
}
.section-table-crop h2 {
  margin-bottom: 12px;
}
.section-table-crop .tab-style.tabs-content .nav-link {
  width: 33.3333333333%;
}
.section-table-crop .tab-style.tabs-content .tab-content,
.section-table-crop .tab-style.tabs-content .tab-pane,
.section-table-crop .tab-style.tabs-content .tab-pane .img {
  transition: all 0.3s ease-in-out;
}
.section-table-crop .tab-style.tabs-content .tab-content {
  padding-bottom: 0;
}

.section-raw-material h2 {
  margin-bottom: 6px;
}
.section-raw-material h3 {
  max-width: 750px;
  margin: 0 auto;
}