@import "./variable";
@mixin a-tag-card-title($widthA, $widthArrows) {
  opacity: 1;
  border-radius: 50%;
  width: $widthA;
  aspect-ratio: 1/1;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  img {
    width: $widthArrows;
    transition: all 0.3s;
    transform: rotate(-180deg);
  }
}
@mixin hover-rote-arrow {
  img {
    transform: rotate(0);
  }
}
@mixin a-link-arrow($widthA, $widthArrows, $borderColor: "transparent") {
  border-radius: 50%;
  width: $widthA;
  height: $widthA;
  aspect-ratio: 1/1;
  border: 1px solid $borderColor;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  img,
  svg {
    width: $widthArrows;
    transition: all 0.3s;
  }
}
@mixin a-header-style {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 0 !important;
  transition: all 0.3s;
}
@mixin hover-a {
  background-color: $orangeColor !important;
  border: 1px solid $orangeColor !important;
}
@mixin date-time {
  color: hsla(0, 0%, 27%, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  gap: 6px;
}
@mixin date-time-main {
  @include date-time;
  font-size: 16px;
}
@mixin btn-brand-color {
  background-color: $orangeColor;
  border: 1px solid $orangeColor;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  padding: 15.5px 0;
  font-size: 16px;
  transition: all 0.3s;
  &:hover {
    color: $orangeColor;
    background-color: transparent;
  }
  @media only screen and (max-width: 768px) {
    width: 150px;
    padding: 12px 0;
    font-size: 13px;
  }
}
