@import "./variable";
.bac-ninh-factory {
  .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h1 {
      text-transform: uppercase;
    }
    .text-footer {
      display: flex;
      gap: 84px;
      .parameter {
        display: flex;
        gap: 12px;
        flex-direction: column;
        .item {
          .card-title {
            color: $orangeColor;
            font-weight: 600;
          }
        }
      }
      .certificate {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          max-width: 98px;
        }
      }
    }
  }
}

.section-title {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 auto;
    width: 564px;
    border-top: 1px solid black;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

.section-haft-haft {
  padding: 36px 0;
  align-items: flex-start;
}

@media only screen and (max-width: 1280.98px) {
  .section-haft-haft {
    align-items: center;
  }
  .bac-ninh-factory {
    .text {
      width: 50%;
    }
    .img {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1023.98px) {
  .bac-ninh-factory {
    .row {
      --bs-gutter-y: 16px;
    }
    .text {
      width: 100%;
    }
    .img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .bac-ninh-factory {
    padding-bottom: 0;
    .text {
      .text-footer {
        gap: 40px;
      }
    }
  }
  .section-haft-haft {
    padding: 24px 0;
  }
}
