.section-table-crop {
  transition: all 7s linear;
  h2 {
    margin-bottom: 12px;
  }
  .tab-style.tabs-content {
    .nav-link {
      width: calc(100% / 3);
    }
    .tab-content,
    .tab-pane,
    .tab-pane .img {
      transition: all 7s linear;
      img {
        transition: all 7s linear;
      }
    }
    .tab-content {
      padding-bottom: 0;
    }
  }
}
.section-raw-material {
  transition: all 1s linear infinite;
  h2 {
    margin-bottom: 6px;
  }
  h3 {
    max-width: 750px;
    margin: 0 auto;
  }
}

.tab-pane.active {
  // animation: slide-down 2s ease-out;
  transition: all 1s linear infinite;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
