@import "./font-face";
@import "./variable";
@import "./components";
//================= reset css =================
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "SF Pro Display";
  letter-spacing: 0.6px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: $textNormal;
  max-width: 1920px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-bottom: 0;
}
.fw-lighter {
  font-weight: 200 !important;
}
//=================  Container =================
.container-1152 {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
}
.container-952 {
  width: 100%;
  max-width: 952px;
  margin: 0 auto;
}
main {
  padding-top: 105px;
  overflow-x: hidden;
}
//=================  Text =================
h1,
h2.heading1 {
  // font-weight: bold;
  font-weight: 600;
  font-size: 36px;
  color: $orangeColor;
}
h2,
.heading2 {
  font-weight: 600;
  font-size: 32px;
  color: $orangeColor;
}
h3 {
  font-weight: 400;
  font-size: 23px;
  color: $orangeColor;
}
h4 {
  font-weight: 600;
  font-size: 19px;
}
h5 {
  font-size: 16px;
  font-weight: 600;
}
.card-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  transition: font-size 0.5s ease-in-out;
  p {
    transition: font-size 0.5s ease-in-out;
  }
}
//================= Link =================
a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
.nav-link:focus-visible {
  box-shadow: unset;
}
//================= Margin =================
.mb_79 {
  margin-bottom: 79px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-6 {
  margin-bottom: 6px;
}
.pt-24 {
  padding-top: 24px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pt-36 {
  padding-top: 36px;
}
.pb-36 {
  padding-bottom: 36px;
}
.pt-48 {
  padding-top: 48px;
}
.pb-48 {
  padding-bottom: 48px;
}
.mb-24 {
  margin-bottom: 24px;
}
.w-740 {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}
.w-564 {
  width: 100%;
  max-width: 564px;
  margin: 0 auto;
}
//================= Button =================
.btn-brand-color {
  @include btn-brand-color;
}
//================= Tab Style =================
.tab-style.tabs-content {
  border-radius: 5px;
  overflow: hidden;
  .nav-tabs {
    border-bottom: 2px solid $orangeColor;
    background-color: #fff;
  }
  .nav-link {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 5);
    color: $textNormal;
    // transition: all 0.3s linear;
    // --webkit-transition: all 0.3s linear;
    border: unset;
    border-bottom: 4px solid transparent;
    font-weight: 500;
    &.active {
      background-color: transparent;
      border-color: transparent;
      font-style: normal;
      color: $orangeColor;
    }
    &:hover:not(.active) {
      border-bottom: 4px solid $orangeColor;
    }
  }
  .tab-content {
    padding: 12px 12px 24px 12px;
    background-color: #fff;
    .row {
      width: 100%;
      align-items: center;
      margin-left: unset;
      --bs-gutter-x: 0;
      > .col-6:first-child {
        padding-right: 48px;
        padding-left: 12px;
      }
      > .col-6:last-child {
        padding-right: 12px;
        padding-left: 0px;
      }
    }
  }
}
//=================  Background =================
.bg-gray-main {
  background-color: $bgGray1;
}
//=================  Form =================
.form-group-style {
  position: relative;
  label {
    font-size: 16px;
    &.file-upload {
      border-radius: 5px;
      width: 100%;
      background-color: #f1f1f1;
      text-align: center;
      display: block;
      padding: 10px 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-weight: 200;
      font-size: 12px;
      color: black;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }
    }
  }
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $textNormal;
    font-size: 15px;
    &:focus-visible {
      outline: none;
    }
    &[type="file"] {
      position: absolute;
      top: 0;
      height: 0px;
      opacity: 0;
      border-bottom: unset;
      background-color: #f1f1f1;
    }
  }
  small {
    color: $orangeColor;
    font-size: 12px;
  }

  margin-bottom: 36px;
}
//=================  Breadcumbs =================
.breadcrumb {
  margin: 50px 0 24px 0;
  .breadcrumb-item {
    font-size: 14px;
    color: $textNormal70;
    padding-left: 3px;
    &.active {
      color: $orangeColor;
      font-weight: 600 !important;
      font-weight: 500;
    }
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  color: $textNormal70;
  content: var(--bs-breadcrumb-divider, ">");
  padding-right: 3px;
  font-weight: normal !important;
}
//=================  List news =================
.list-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  .main-news {
    grid-column: 1 / span 2;
    grid-row: 1/ 3;
    &.item {
      .content {
        padding: 24px;
        .short-dics {
          font-size: 18px;
          // font-size: 500;
          font-size: 400;
          -webkit-line-clamp: 7; /* number of lines to show */
          line-clamp: 7;
        }
        .footer-item,
        .footer-item .date {
          font-size: 16px;
        }
        .footer-item {
          a,
          span {
            @include a-link-arrow(30px, 14.4px, $textNormal50);
          }
        }
      }
    }
  }
  .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid $textNormal50;
    border-radius: 5px;
    transition: all 0.3s;
    .content {
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .card-title,
      .card-title-2 {
        color: $orangeColor;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .card-title-2 {
        font-size: 19px;
        line-height: 1.2;
      }
      .short-dics {
        font-size: 12px;
        font-weight: 400;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
      }
      .footer-item {
        width: 100%;
        a,
        span {
          @include a-link-arrow(20px, 9.6px, $textNormal50);
          &:hover {
            @include hover-a;
            svg {
              path {
                fill: #fff !important;
                fill-opacity: 1 !important;
              }
            }
          }
        }
      }
      .footer-item,
      .footer-item .date {
        color: $textNormal50;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        gap: 6px;
      }
    }
    .img {
      overflow: hidden;
      img {
        transition: all 0.3s;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      .img {
        img {
          scale: 1.05;
        }
      }
      .content {
        .footer-item {
          a,
          span {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
//=================  Section Haft Haft =================
.section-haft-haft {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 24px 0;
  .haft-text,
  .haft-img {
    width: 50%;
  }
  .haft-img {
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .haft-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    h3 {
      color: $orangeColor;
    }
  }
  .haft-haft-part {
    display: flex;
    gap: 44px;
    .haft-part {
      width: 50%;
      position: relative;
      &.polygon {
        padding-left: 24px;
        &::before {
          position: absolute;
          content: url(../assets/icons/Polygon.svg);
          top: 0;
          left: 0;
        }
      }
      h4 {
        margin-bottom: 12px;
        color: $orangeColor;
        position: relative;
      }
      p {
        font-size: 16px;
      }
      .list-img {
        display: flex;
        gap: 12px;
        align-items: center;
      }
    }
  }
}
//================= Start List Product =================
.list-product {
  padding-top: 48px;
  margin-bottom: 48px;
  .title {
    margin-bottom: 50px;
    h2 {
      margin-bottom: 10px;
    }
  }
  .card-title {
    color: white;
  }
  .list-product-type {
    .row {
      --bs-gutter-x: 24px;
      --bs-gutter-y: 24px;
    }
    .product-type-item {
      > a {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        // width: calc(100% - 24px);
        padding: 20.5px 20px;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.645) 80%
        );
        span {
          opacity: 0;
          border-radius: 50%;
          width: 35px;
          aspect-ratio: 1/1;
          border: 1px solid transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          img {
            width: 16.8px;
            transition: all 0.3s;
          }
          &:hover {
            background-color: $orangeColor;
            border: 1px solid $orangeColor !important;
          }
        }
      }
      &:hover {
        .card-title {
          span {
            opacity: 1;
            border: 1px solid white;
          }
        }
      }
    }
  }
}
//================= Start List Product =================
.section-rounded-content {
  display: flex;
  align-items: center;
  gap: 24px;
  .img {
    width: 270px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .content {
    flex-grow: 1;
    h4 {
      color: $orangeColor;
      margin-bottom: 6px;
    }
  }
}
//=================  RESPONSIVE =================
@media only screen and (max-width: 1279.98px) {
  //=================  Container =================
  .container-1152,
  .container-952 {
    padding: 0 15px;
  }

  //=================  List news =================
  .list-news {
    .footer-item {
      .links {
        a,
        span {
          transform: rotate(180deg);
        }
      }
    }
  }
  //=================  Section Haft Haft =================
  .section-haft-haft {
    .haft-text {
      width: 60%;
    }
    .haft-img {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1023.98px) {
  //=================  Section Haft Haft =================
  .section-haft-haft {
    flex-direction: column;
    .haft-text {
      width: 100% !important;
      order: 2;
      h2,
      h1 {
        text-align: center;
      }
    }
    .haft-img {
      width: 100% !important;
      order: 1;
    }
    .haft-haft-part {
      flex-direction: column;
      gap: 16px;
      .haft-part {
        width: auto !important;
        h4 {
          margin-bottom: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  main {
    padding-top: 88.45px;
  }
  h1,
  h2.heading1 {
    font-size: 25.35px;
  }
  h2 {
    font-size: 22.53px;
  }
  h3 {
    font-size: 16.9px;
  }
  h4 {
    font-size: 14.08px;
  }
  h5 {
    font-size: 11.2px;
  }
  body {
    font-size: 14px;
  }
  .card-title {
    font-size: 19.7px;
  }
  .breadcrumb {
    .breadcrumb-item {
      font-size: 11px;
    }
  }
  // Margin
  .mb_79 {
    margin-bottom: 39px;
  }
  .pt-48 {
    padding-top: 24px;
  }
  .pb-48 {
    padding-bottom: 24px;
  }
  //=================  Form =================
  .form-group-style {
    label {
      font-size: 14px;
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $textNormal;
      font-size: 14px;
      &:focus-visible {
        outline: none;
      }
    }
    small {
      color: $orangeColor;
      font-size: 12px;
    }
    margin-bottom: 26px;
  }
  .list-news {
    .main-news.item {
      .content {
        & > div:first-child {
          .card-title {
            margin-bottom: 10px;
          }
          gap: 10px;
        }
      }
    }
  }
  .section-haft-haft .haft-haft-part .haft-part p {
    font-size: 14px;
  }
}
